:root {
  --g-start: #6643ff;
  --g-end: #342beb;
  --red-c: #e91e63;
  --yellow-c: #ff9800;
  --green-c: #009688;
  --purple-c: #3f51b5;
  --red-c-opacity: #fff6f5;
  --yellow-c-opacity: #fffbf2;
  --green-c-opacity: #f2fbfa;
  --purple-c-opacity: #f3f3fd;
  --btn-c: #303b59;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.summary-card {
  width: 60%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0px 0px 20px 18px #f1f4fd;
}
.summary-card .result {
  width: 50%;
  text-align: center;
  border-radius: 50px;
  background-image: linear-gradient(to bottom, var(--g-start), var(--g-end));
  color: #fff;
  padding: 15px;
}
.summary-card .result .t-result {
  color: #cdc6ff;
  text-transform: capitalize;
  margin: 20px auto;
  font-size: 1.5em;
}

.summary-card .result .feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  color: #fff;
  background-image: inherit;
  background-image: linear-gradient(to bottom, #4e23cb, #4633ed);
  border-radius: 50%;
  width: 60%;
  height: 150px;
  margin: 20px auto;
  padding: 20px 0;
}
.summary-card .result .feedback h2 {
  font-size: 2.8em;
  font-weight: bold;
}
.summary-card .result .feedback small {
  color: #887aff;
  font-size: 1.1em;
}
.summary-card .result .title-desc {
  text-transform: capitalize;
  margin: 20px 0;
}
.summary-card .result .description {
  text-transform: capitalize;
  color: #bbb9ff;
  font-size: 1.2em;
  line-height: 1.2;
  margin: 20px auto;
}
.summary-card .summary {
  width: 50%;
  padding: 0;
  padding-left: 20px;
  padding-right: 30px;
}
.summary-card .summary .t-summary {
  color: #303b59;
  text-transform: capitalize;
  font-size: 1.7em;
}
.summary-card .summary .feedbacks {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.summary-card .summary .feedbacks .reaction,
.summary-card .summary .feedbacks .memory,
.summary-card .summary .feedbacks .verbal,
.summary-card .summary .feedbacks .visual {
  display: flex;
  padding: 10px;
  justify-content: space-between;
  text-transform: capitalize;
}
.summary-card .summary .feedbacks .reaction-first,
.summary-card .summary .feedbacks .memory-first,
.summary-card .summary .feedbacks .verbal-first,
.summary-card .summary .feedbacks .visual-first {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    width: 50%;
}

.summary-card .summary .feedbacks .reaction-second,
.summary-card .summary .feedbacks .memory-second,
.summary-card .summary .feedbacks .verbal-second,
.summary-card .summary .feedbacks .visual-second {
    display: flex;
    justify-content: flex-end;
    width: 50%;
}
.summary-card .summary .feedbacks .reaction {
  color: var(--red-c);
  background: var(--red-c-opacity);
  margin-top: 20px;
}
.summary-card .summary .feedbacks .reaction svg {

}
.summary-card .summary .feedbacks .reaction h4 {
}
.summary-card .summary .feedbacks .reaction p {
}
.summary-card .summary .feedbacks .memory {
  color: var(--yellow-c);
  background: var(--yellow-c-opacity);
}
.summary-card .summary .feedbacks .memory svg {
}
.summary-card .summary .feedbacks .memory h4 {
}
.summary-card .summary .feedbacks .memory p {
}
.summary-card .summary .feedbacks .verbal {
  color: var(--green-c);
  background: var(--green-c-opacity);
}
.summary-card .summary .feedbacks .verbal svg {
}
.summary-card .summary .feedbacks .verbal h4 {
}
.summary-card .summary .feedbacks .verbal p {
}
.summary-card .summary .feedbacks .visual {
  color: var(--purple-c);
  background: var(--purple-c-opacity);
}
.summary-card .summary .feedbacks .visual svg {
}
.summary-card .summary .feedbacks .visual h4 {
}
.summary-card .summary .feedbacks .visual p {
}
.summary-card .summary .feedbacks .continue {
  background: #303b59;
  color: #fff;
  font-weight: bold;
  letter-spacing: 1.6px;
  text-transform: capitalize;
  outline: none;
  border: none;
  padding: 15px 20px;
  border-radius: 20px;
  width: 100%;
  margin: 20px auto;
}
@media (max-width: 992px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 776px) {
  html {
    font-size: 13px;
  }
  .summary-card {
    width: 70%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 12px;
  }
  .summary-card {
    width: 90%;
  }
}
  @media (max-width: 463px) {
  html {
    font-size: 12px;
  }
  .summary-card {
    width: 90%;
    margin: 50px auto;
    flex-direction: column;
  }

  .summary-card .result,
  .summary-card .summary{
    width: 100%;
  }

}  